/* -------------------------------------------------------------------------- */
/*                                    text                                    */
/* -------------------------------------------------------------------------- */

$textDark: #191919

/* -------------------------------------------------------------------------- */
/*                                    clors                                   */
/* -------------------------------------------------------------------------- */

$primaryBlue: #7FC6E7
$P-B-gradient: linear-gradient(90deg, #924D83 17.4%, #7EC5E6 85.19%)
$B-P-gradient: linear-gradient(93.92deg, #7EC5E6 2.71%, #943F78 90.57%)