a#works
section.creating.anim-parent 
  h2.sec-title.anim.animation-fade ВИГОТОВЛЕННЯ ЗОВНІШНЬОЇ РЕКЛАМИ. РОЗРОБКА МОНТАЖ ТА СЕРВІС.
  //- p.make-choice Обрати вид реклами:
  .adv-list-line 
    ul.adv-examples.flex-sb.anim.animation-fade 
      li.choosen-item(data-btn-name="ll")
        //- light letters
        a(href="#") об'ємні світлові літери
      span.g-line
      li(data-btn-name="ls")
        //- light signs
        a(href="#") вивіски. світлові вивіски 
      span.g-line
      li(data-btn-name="ns")
        //- neon signs
        a(href="#") неонові вивіски
      span.g-line
      li(data-btn-name="vv")
        //- volumetric visors
        a(href="#") обʼємні козирки
      span.g-line
      li(data-btn-name="eg")
        //- entrance group
        a(href="#") вхідна група
      span.g-line
      li(data-btn-name="sc")
        //- showcase
        a(href="#") вітрини. наклеювання плівкою ORACAL
      span.g-line
      li(data-btn-name="pl")
        //- pillars
        a(href="#") штендери. інформаційні щити. вуличні таблички, банери
  .creating-screen.choosen-screen(data-block-name="ll")
    .fig-list.flex-sb.anim.animation-bottom 
      +creatingFigure(
        "img/ll_bidonchik.jpg",
        "Об’ємні світлові літери для магазину «Бідончик»",
        "Об’ємні світлові літери для магазину «Бідончик»",
        "Поклейка літер виконана з жовтої плівки ORACAL, для підложки використаний матовий композит чорного кольору.",
        "Встановлені у м.Хмельницький."
      )
      +creatingFigure(
        "img/ll_sviatoslav.jpg",
        "Об’ємні світлові літери для ресторану «Святослав»",
        "Об’ємні світлові літери для ресторану «Святослав»",
        "Передня та бокові частини літер поклеєні матовим золотом з плівки ORACAL, яка надає їм вишуканого вигляду.",
        "Встановлені у м.Винники."
      )
      +creatingFigure(
        "img/ll_dnipro.jpg",
        "Об’ємні світлові літери для компанії «DNIPRO M»",
        "Об’ємні світлові літери для компанії «DNIPRO M»",
        "Виготовлені з акрилу та поклеєні флюоресцентною плівкою ORACAL в корпоративний колір.",
        "Встановлені у м. Дунаївці"
      )
    article.screen-desc 
      h2.sec-title.anim.animation-fade На даний час об’ємні букви (літери) є одним з найефективніших видів зовнішньої реклами в багатьох сферах бізнесу.
      p.sec-desc.anim.animation-fade Їх Об’ємний 3D-Ефект Дає Змогу Значно Краще Привернути Увагу Потенційного Клієнта До Вашої Рекламної Вивіски, Чи Взагалі До Будь-Якої Зовнішньої Реклами. Гарний ефект об’ємні букви (літери), дають при першій комунікації з потенційним клієнтом, адже це підкреслює імідж компанії та її солідність. Також об’ємні рекламні букви (літери) замовляють для проведення весільних, святкових (дні народження, ювілеї, корпоративи) або іміджевих (презентації, виставки) фотосесій.
      +buttonLine('light_letters.html')
  .creating-screen(data-block-name="ls")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/ls_amsterdam.jpg",
        "Лайтбокс для студії краси «Амстердам»",
        "Лайтбокс для студії краси «Амстердам»",
        "Виготовлений з акрилу та поклеєний плівкою ORACAL, порізаною на плотерному станку, виглядає стильно та привабливо, в нічний час світиться сама інформація, що підкреслює кожну літеру окремо за рахунок підсвічування світлодіодними модулями."
      )
      +creatingFigure(
        "img/ls_grono.JPG",
        "Вивіска для коворкінг центру «Ґроно»",
        "Вивіска для коворкінг центру «Ґроно»",
        "Замовлення спроектовано з короба алюмінієвого композиту, поверх нанесені акрилові літери малого об’єму, та світловий двохсторонній лайтбокс. Поклейка на вікнах зроблена з плівки ORACAL.",
      )
      +creatingFigure(
        "img/ls_notarius.JPG",
        "Вивіска для нотаріальної компанії",
        "Вивіска для нотаріальної компанії",
        "Вивіска створена для нотаріальної компанії у центрі Хмельницького, на глянцевій композитній панелі було зроблено світлові літери білого глянцевого відтінку, виглядає стримано та красиво."
      )
    article.screen-desc 
      h2.sec-title ОБ’ЄМНІ ЛОГОТИПИ КОМПАНІЙ.ВИВІСКА З ОБ’ЄМНИМИ ЛІТЕРАМИ.
      p.sec-desc Вивіски, лайтбокси з об'ємними літерами – поширений вид візуальних знаків, що застосовуються, як зовні, так і всередині приміщення.
      +buttonLine('panel_sign.html#sign')
  .creating-screen(data-block-name="ns")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/ns_1000_dribnyts.JPG",
        "Неонова вивіска для магазину «1000 ДРІБНИЦЬ»",
        "Неонова вивіска для магазину «1000 ДРІБНИЦЬ»",
        "Виготовлена з високоякісної діодної стрічки помаранчевого кольору, що надає вивісці неперевершений вигляд у темну пору, та привертає увагу покупців, чудово підійде для магазинів, торгових точок, вітрин, оформлення кімнати."
      )
      +creatingFigure(
        "img/ns_cukernia_potockhyh.png",
        "Неонова вивіска для «Цукерні Потоцьких»",
        "Неонова вивіска для «Цукерні Потоцьких»",
        "Виготовлена зі скляної трубки, яка наповнена інертним газом, виглядає стримано та кидається в очі відвідувачам, при встановлені використали композитну панель, чудово вписується в інтер’єр закладу."
      )
      +creatingFigure(
        "img/ns_reiestratura.jpg",
        "Вивіска для міської лікарні «Реєстратура»",
        "Вивіска для міської лікарні «Реєстратура»",
        "Літери зроблені з ефектом контражуру, освітлюються зсередини, що надає їм чарівної гри світла та тіні, на задній частині дерев’яної панелі встановлено діодну стрічку, що додає контурного вигляду."
      )
    article.screen-desc 
      h2.sec-title СКЛЯНА ТРУБКА З ІНЕРТНИМ ГАЗОМ.
      p.sec-desc Характерною рисою є скляна трубка, наповнена газом - неоном.Виготовляють неонові вивіски по засобу нагріву трубки та закачування газу. Після застосування газу - подається висока напруга і трубка випромінює світло. Індивідуальний колірний діапазон досягається внаслідок використання різних і іноді декількох інертних газів.
      +buttonLine('panel_sign.html#neon_sign')
  .creating-screen(data-block-name="vv")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/vv_vm_mebli.JPG",
        "Об’ємний козирок для студії дизайну «VM mebli»",
        "Об’ємний козирок для студії дизайну «VM mebli»",
        "Виготовлений з матового композиту графітового кольору, на якому розташовуються дзеркальні золоті літери, з контражурною підсвіткою, що додають вивісці витончений вигляд та грацію, як у темний час, так і у день, встановлено у м.Нетішин."
      )
      +creatingFigure(
        "img/vv_parfum.JPG",
        "Об’ємний козирок для магазину «Парфум»",
        "Об’ємний козирок для магазину «Парфум»",
        "Виготовлений з червоного матового композиту з елементами дзеркального золота, на якому розташовуються глянцеві світлові літери білого кольору, чудове поєднання кольорів зовнішньої реклами шлях до вашого успіху та продажів."
      )
      +creatingFigure(
        "img/vv_retoran.jpg",
        "Об’ємний козирок для ресторану",
        "Об’ємний козирок для ресторану",
        "Виготовлений з чорного глянцевого композиту з елементами дзеркального золота, на якому розташовуються не світлові літери та золоті паєтки, що переливаються на сонці."
      )      
    article.screen-desc 
      h2.sec-title ОБ’ЄМНІ КОЗИРКИ РІЗНИХ КОНФІГУРАЦІЙ.
      p.sec-desc На даний час об’ємні козирки є одним з основних елементів комплексу фасадних конструкцій при оформлені будь-якого комерційного приміщення. Також може використовуватись як окремий елемент вхідної групи.
      +buttonLine
  .creating-screen(data-block-name="eg")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/eg_bubbles.jpg",
        "Вхідна група",
        "Вхідна група",
        "Вхідна група вашої комерції, це не тільки для приміщення, такою красотою можна оздобити ваші ворота при вході у ресторан, чи ресторанно-готельний комплекс. Наші дизайнери попрацюють з макетами у 3D, та допожуть оздобити вашу комерцію."
      )
      +creatingFigure(
        "img/eg_annamoda.jpg",
        "Вхідна група у місті Шепетівка",
        "Вхідна група у місті Шепетівка",
        "Вхідна група у місті Шепетівка, хороший вибір, вдалий макет, гарна робота. Реклама Поділля готова втілити Ваше бажання в життя! Ми попередньо попрацюємо у 3D над Вашою вхідною групою, так, щоб Ви могли уявити та побачити свою комерцію на яву"
      )
      +creatingFigure(
        "img/eg_sport_medicine.jpg",
        "Вхідна група",
        "Вхідна група",
        "Саме з зовнішнього вигляду Вашої комерції розпочинається бізнес. Вхідна група, яку Ви бажаєте бачити на своїй комерції, допоможе звернути увагу клієнта, так щоб відвідали ваш магазин, чи приватну клініку, чи аптеку. Наші дизайнери допоможуть Вам втілити в життя побажання та задумку, як саме має виглядати Ваша комерція. Саме макет у 3D, допоможе уявити вхідну групу"
      )      
    article.screen-desc 
      h2.sec-title ВХІДНА ГРУПА. КОМПЛЕКС ЕЛЕМЕНТІВ ЗОВНІШНЬОЇ РЕКЛАМИ.
      p.sec-desc Вхідна група — це комплекс з елементів зовнішньої реклами (світових вивісок, об’ємних та світлових літер, лайтбоксі, чи звичайних вивісок), вітрин поклеєні плівкою, підсвітки, та обшивка фасаду алюмінієвими панелями та іншими якісними матеріалами.
      +buttonLine
  .creating-screen(data-block-name="sc")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/sc_chiken.jpg",
        "Магазин «Grilled Chicken»",
        "Магазин «Grilled Chicken»",
        "Поклейка вітрини виконана ламінованою плівкою ORACAL, що захищає наш виріб від різних чинників, включаючи: опади та вологу, УФ-випромінювання, вандалізм, подряпини. Також надає глянцевого блиску."
      )
      +creatingFigure(
        "img/sc_perukarnia.jpg",
        "Перукарня «Чік-Чік»",
        "Перукарня «Чік-Чік»",
        "Поклейка на ПВХ, яка привертає увагу та додає стильного вигляду, за рахунок яскравих кольорів, та плівки стійкої до ультрафіолету, має матову структуру та глянцеві літери."
      )
      +creatingFigure(
        "img/sc_rozdrib.jpg",
        "Торгова точка «Moda textile»",
        "Торгова точка «Moda textile»",
        "Поклейка двостороннього флажка “Тканини роздріб” зроблена ламінованою плівкою ORACAL."
      )
    article.screen-desc 
      h2.sec-title ПОКЛЕЙКА ВІТРИН.
      p.sec-desc Вартість наклеювання складає 350 грн за метр квадратний. Для більш детальною інформацією зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
      +buttonLine
  .creating-screen(data-block-name="pl")
    .fig-list.flex-sb.anim.animation-fade 
      +creatingFigure(
        "img/pl_forward_bank.JPG",
        "Інформаційний щит для «Forward Bank»",
        "Інформаційний щит для «Forward Bank»",
        "Виготовлений з вологостійкого матеріалу, та ламінованої плівки ORACAL, що не вигорає на сонці, та передає бажану палітру кольорів"
      )
      +creatingFigure(
        "img/pl_geolabs.jpg",
        "Виносний штендер «GeoLabs»",
        "Виносний штендер «GeoLabs»",
        "Для виносних штендерів ми використовуємо профільну трубу, що не дає виробу рухатись при поривах вітру, поклейка виконана з двох сторін."
      )
      +creatingFigure(
        "img/pl_amsterdam.jpg",
        "Банер для студії краси «Амстердам»",
        "Банер для студії краси «Амстердам»",
        "Виготовлений з банерного матеріалу, на якому надрукована інформація, виріб вписався в дизайн інтер’єру, та слугує додатковою рекламою до основного виробу у вигляді лайтбокса"
      )
    article.screen-desc 
      h2.sec-title ШТЕНДЕРИ, ІНФОРМАЦІЙНІ ЩИТИ, ВУЛИЧНІ ТАБЛИЧКИ, БАНЕРИ
      p.sec-desc Штендер – це компактна, мобільна, переносна рекламна конструкція, яка користується великою популярністю в людних місцях. Частіше штендери ставлять біля дороги чи тротуару, недалеко від рекламованого об’єкта, зазвичай з вказівною стрілочкою.
      +buttonLine