section.creating 
  h2.sec-title ВИГОТОВЛЕННЯ ЗОВНІШНЬОЇ РЕКЛАМИ. РОЗРОБКА МОНТАЖ ТА СЕРВІС.
  ul.adv-examples.flex-sb 
    li
      a.choosen-item(href="#") об'ємні світлові літери
    li
      a(href="#") вивіски. світлові вивіски
    li
      a(href="#") неонові вивіски
    li
      a(href="#") обʼємні козирки
    li
      a(href="#") вхідна група
    li
      a(href="#") вітрини. наклеювання плівкою ORACAL
    li
      a(href="#") штендери. інформаційні щити. вуличні таблички, банери
  .creating-screen.choosen-screen
    .fig-list.flex-sb 
      +creatingFigure(
        "img/ll_bidonchik.png",
        "Обʼємні літери для компанії \"БІДОНЧИК\"",
        "Обʼємні літери для компанії \"БІДОНЧИК\"",
        "????",
        "30 СМ"
      )
      +creatingFigure(
        "img/ll_utis.png",
        "Обʼємні літери для компанії \"ЮТІС\"",
        "Обʼємні літери для компанії \"ЮТІС\"",
        "????",
        "30 СМ"
      )
      +creatingFigure(
        "img/ll_dnipro.png",
        "Обʼємні літери для компанії \"DNIPRO M\"",
        "Обʼємні літери для компанії \"DNIPRO M\"",
        "????",
        "30 СМ"
      )
    article.screen-desc 
      h2.sec-title На даний час об’ємні букви (літери) є одним з найефективнішим видом зовнішньої реклами в багатьох сферах бізнесу.
      p.sec-desc Їх Об’ємний 3D-Ефект Дає Змогу Значно Краще Привернути Увагу Потенційного Клієнта До Вашої Рекламної Вивіски, Чи Взагалі До Будь-Якої Зовнішньої Реклами. Гарний ефект об’ємні букви (літери), дають при першій комунікації з потенційним клієнтом, адже це підкреслює імідж компанії та її солідність. Також об’ємні рекламні букви (літери) замовляють для проведення весільних, святкових (дні народження, ювілеї, корпоративи) або іміджевих (презентацій, виставка)фотосесій.
      +buttonLine