footer 
  .wrapper
    .footer-line.flex-sb 
      a(href="/").footer-logo 
        h2 <b>реклама</b> Поділля
        p Розробки та виготовлення зовнішньої реклами
      +soc-line 
      a.policy(href="#") політика конфіденційності 
    p.copy 
      +svg('#copy')
      span copyright by “РЕКЛАМА ПОДІЛЛЯ”