header
  .header-line
    .header-soc
      .wrapper.flex-sb 
        a.tel(href="tel:+380679047738") 067 904 77 38
        a(href="#") 
          img.logo(src="img/logo.png" alt="Логотип Реклами Поділля")
        +soc-line
    nav.menu.wrapper 
      ul.flex-sb 
        li
          a(href="#main") головна
        li
          a(href="#about-us") про нас
        li
          a(href="#services") послуги
        li
          a(href="#") фасади
        li
          a(href="#") акції
        li
          a(href="#") контактити
    