extends components/template.pug 

block seo 
  meta(name="description", content="Вхідна група — це комплекс з елементів зовнішньої реклами (світових вивісок, об’ємних та світлових літер, лайтбоксі, чи звичайних вивісок), вітрин поклеєні плівкою, підсвітки, та обшивка фасаду алюмінієвими панелями та іншими якісними матеріалами.")
  meta(name="keywords", content="замовити зовнішню рекламу комплексно, усі зовнішньої реклами, замовити плівку на вітрини, обшивка васадів, світлові підсвітки")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Вхідна група. Комплекс елементів зовнішньої реклами.")
  meta(property="og:description" content="Вхідна група — це комплекс з елементів зовнішньої реклами (світових вивісок, об’ємних та світлових літер, лайтбоксі, чи звичайних вивісок), вітрин поклеєні плівкою, підсвітки, та обшивка фасаду алюмінієвими панелями та іншими якісними матеріалами.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/enterance_group.html")
  meta(property="og:type" content="website")
  title Вхідна група. Комплекс елементів зовнішньої реклами.
  link(rel="canonical", href="https://reklama-podillya.com.ua/enterance_group.html")
  script(type="application/ld+json").
    [
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "РЕКЛАМА ПОДІЛЛЯ",
        "telephone": "067 904 77 38"
      },
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "реклама Поділля",
        "image": [
          "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
          "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
          "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
          "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
          "https://reklama-podillya.com.ua/img/vf_center.jpg",
          "https://reklama-podillya.com.ua/img/vf_right.jpg"
        ],
        "telephone": "067 904 77 38",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
        }
      }
    ]
block content
  .wrapper.panel_sign-page.additional-page
    section(itemscope itemtype="https://schema.org/Organization") 
      img(src="img/banner_enterance_group.jpg", alt="Вхідна група KAVAMAK" title="Усі види зовнішньої риклами для KAVAMAK" itemprop="image" )
      .page-content.choosen-page(itemprop="description")
        h1.sec-title вхідна група
        h2.sec-subtitle ВХІДНА ГРУПА. КОМПЛЕКС ЕЛЕМЕНТІВ ЗОВНІШНЬОЇ РЕКЛАМИ.
        p.sec-desc Вхідна група — це комплекс з елементів зовнішньої реклами (світових вивісок, об’ємних та світлових літер, лайтбоксі, чи звичайних вивісок), вітрин поклеєні плівкою, підсвітки, та обшивка фасаду алюмінієвими панелями та іншими якісними матеріалами.
        h2.sec-subtitle вартість послуг
        p.sec-desc Ціна на монтаж та виготовлення визначається індивідуально. Для більш детальною інформацією зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        .examples 
          h2.sec-subtitle приклади виконаних робіт
          .fig-slider 
            .slider#slider(itemprop="image")
              .slider-container.examples-line 
                - 
                  var items = [
                    {
                    src: "img/pages/y_eg1.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg2.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg3.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg4.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg5.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg6.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg7.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg8.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg10.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg11.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg12.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg13.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg14.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg15.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_eg16.jpg", 
                    title: ""
                  },            
                  ]
                each i in items
                  +pageFigure(
                    i.src,
                    i.title
                  )
            .button-line
              +button('g', 'index.html#contacts', 'Замовити')