extends components/template.pug 

block seo 
  meta(name="description", content="Вентильовані фасади. Касети з алюмінієвого композиту. Монтаж систем навісних вентильованих фасадів з Алюмінієво-композитних панелей (АКП).")
  meta(name="keywords", content="купити вентельовані фасади, замовити навісні фасади з монтажем, монтаж вентильованих фасадів, вентильовані фасади для утеплення стін")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Монтаж Навісних Вентильованих Фасадів. Алюмінієвий композит.")
  meta(property="og:description" content="Вентильовані фасади. Касети з алюмінієвого композиту. Монтаж систем навісних вентильованих фасадів з Алюмінієво-композитних панелей (АКП).")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/facades.html")
  meta(property="og:type" content="website")
  title Монтаж Навісних Вентильованих Фасадів. Алюмінієвий композит.
  link(rel="canonical", href="https://reklama-podillya.com.ua/facades.html")
  script(type="application/ld+json").
    [
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "РЕКЛАМА ПОДІЛЛЯ",
        "telephone": "067 904 77 38"
      },
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "реклама Поділля",
        "image": [
          "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
          "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
          "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
          "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
          "https://reklama-podillya.com.ua/img/vf_center.jpg",
          "https://reklama-podillya.com.ua/img/vf_right.jpg"
        ],
        "telephone": "067 904 77 38",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
        }
      }
    ]

block content
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_facade.jpg", alt="" data-name="" itemprop="image")
      //- img(src="img/banner_neon_sign.jpg", alt="Щитова вивіска Chameleon" data-name="neon_sign")
      //- .page-switches.flex-sb 
      //-   a.choosen-switch(href="#" data-name="sign") вивіски
      //-   a(href="#" data-name="neon_sign") неонові вивіски 
      .page-content.choosen-page(data-name='') 
        h1.sec-title ВЕНТИЛЬОВАНІ ФАСАДИ. ОБШИВКА АЛЮМІНІЄВИМИ КАСЕТАМИ
        p.sec-desc Всі елементи кріплення вентильованої фасадної системи (фасади обшиті алюмінієвими касетами) є універсальними. Це дозволяє створити різні архітектурні та конструкторські форми від класичних до ультрасучасних. Покращує термо та звукоізоляцію будівлі.
        h2.sec-subtitle Вентильовані фасади як утеплювач стін будівель
        .sec-desc(itemprop="description")
          p Для додаткового утеплення стін будівлі кріпиться мінералізований утеплювач. На цокольній частині будівлі використовується екструзійний (пінополістирольний) утеплювач. Він не пропускає і не вбирає вологу. При цьому величина зазору вентильованого фасаду між утеплювачем і фасадом будівлі повинна відповідати стандартам що до монтажу даних систем. Це дозволяє висхідним потокам повітря циркулювати між облицювальним матеріалом (алюмінієві композитні панелі) і утеплювачем. Висушуює шар утеплювача в разі потрапляння на нього вологи.
          p З метою запобігання видування волокон з утеплювача, в разі застосування утеплювача з “некешированной” поверхнею, він накривається волого-вітрозахисною, паропроникною мембраною (плівкою). Це не є необхідною вимогою до влаштування систем вентильованих фасадів.
          p Вентильовані фасади сприяють збереженню тепла в приміщенні, перешкоджає появі вогкості та істотно зменшує кількість будівельного матеріалу, необхідного для зведення стін будівель. Це веде до економії коштів при будівництві, полегшення всієї споруди та можливості збільшення поверховості будівлі.
          p Повітряний проріз між стіною і декоративною панеллю значно зменшує тепловіддачу будівлі.
          p Однак, в разі ремонту або реконструкції вже що існує будівлі. Наприклад, багатоповерхового житлового будинку, система навісного вентильованого фасаду створить додаткове навантаження на опорні конструкції будівлі і його фундаменти. Тому, перед прийняттям рішення про встановлення вентильованого фасаду рекомендується провести обстеження технічного стану будівельних конструкцій будівлі та, при необхідності, виконати їх посилення.
        h2.sec-subtitle Вентильовані фасади основні переваги:
        ul.components(itemprop="description")
          li Можливість використання різних облицювальних матеріалів (цегла, натуральний камінь, дерев’яну фасадну дошку (планки), алюмінієвими композитні панелі, керамограніт, рейковий профіль, алюмінієвий лист, азбестоцементні та пропонуємо П листи, HPL панелі).
          li Широка можливість колірних комбінацій (карта кольорів) вентильованого фасаду – фірмові карти кольорів виробників, RAL
          li Високі тепло- і звукоізоляційні характеристики системи.
          li Завдяки шару утеплення в вентильованого фасаду, «точка конденсації» виноситься за межі опорної стіни будівлі, що значно скорочення витрат на опалення будівлі.
          li Вентильовані фасади довговічні: термін безремонтної експлуатації систем навісних вентильованих фасадів.
          li До 50 років стійкість фасадної системи до атмосферних впливів.
          li Швидкий монтаж фасадної системи в будь-який час року.
          li Можливість застосування вентильованого фасаду для блискавкозахисту в якості захисного екрана (що забезпечує збереження дорогого обладнання, розташованого в будівлі, від електромагнітного поля, створюваного розрядом).
          li Застосування навісного фасаду знімає проблему перегріву стін в літні місяці.
          li Ремонтопридатність в разі часткового пошкодження.
        h2.sec-subtitle Вентильовані Фасади Мають Такі Основні Недоліки:
        ul.components(itemprop="description")
          li Недотримання передбачених альбомами технічних рішень конструктивних методів щодо забезпечення пожежної безпеки навісних фасадів, а також застосування матеріалів, що не пройшли натурних вогневих випробувань, призводить до зниження вогнестійкості будівель.
          li Необхідна висока кваліфікація монтажників вентильованого фасаду.
          li Невідповідність стін-підстав необхідному рівню часто може приводити до застосування нестандартних елементів при монтажі вентильованого фасаду, а також обумовлює необхідність проведення топографічних робіт по фасаду з великою точністю.
          li Недосконалість ряду існуючих конструктивних рішень для забезпечення пожежної безпеки.
          li Недотримання умов по корозійному захисту металевого каркаса вентильованого фасаду (відсутність або недостатня товщина цинкового, полімерного покриття на елементах, місцеве пошкодження захисного покриття і т. д.), які часто зустрічаються на практиці, знижують довговічність фасадної системи та будівлі в цілому.
          li Недотримання умов або відмова від захисних плівок в конструкції теплоізоляційного шару, позначається на екологічності системи.
          li Застосування вентильованого фасаду на існуючих будівлях може порушувати початковий архітектурний задум і призводити до безликому, позбавленому індивідуальності зовнішнього вигляду будівлі.
        h2.sec-title ЦІНА
        .sec-desc(itemprop="description")
          p Вартість вентильованого фасаду від 1150 грн за м² і залежить від багатьох чинників: від якості використаних матеріалів, складності робіт, компонування. За більш детальною інформацією звертайтесь телефоном чи на сайті.
          p Консультації, заміри, розрахунки безкоштовні.
          p Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документ
        .examples 
          h2.sec-subtitle приклади виконаних робіт
          .fig-slider 
            .examples-line
              .arr-left 
              .arr-right 
              - 
                var items = [
                  {
                    src: "img/pages/photo_2023-07-26_10-22-51.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/photo_2023-08-04_16-22-58.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-22-572.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-07-26_10-22-512.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/photo_2023-08-04_16-22-582.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-27-20.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-27-202.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-27-203.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-24-51.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-04_16-22-57.jpg", 
                    title: ""
                  },               
                  {
                    src: "img/pages/photo_2023-08-05_21-54-20.jpg", 
                    title: ""
                  }               
                ]
              each i in items 
                +pageFigure(
                  i.src,
                  i.title
                )
            .button-line
              +button('g', 'index.html#contacts', 'Замовити')