extends components/template.pug

block seo 
  meta(name="description", content="Вивіска світлова, латбокс, об'ємні літери, банери. Зовнішня реклама вивіски лайтбокс в Хмельницькому замовляють в агенції 'РЕКЛАМА ПОДІЛЛЯ'.")
	meta(name="keywords", content="зовнішня реклама, розробка та виготовлення зовнішньої реклами, монтаж конструкцій зовнішньої реклами, замовити розробку вивісок")
	meta(name="author", content="Реклама Поділля")
	meta(name="publisher", content="Реклама Поділля")
	meta(name="robots", content="index follow")
  meta(property="og:title" content="Реклама Поділля - розробка, виготовлення зовнішньої реклами")
  meta(property="og:description" content="Вивіски, лайтбокс, світлові літери. Зовнішня реклама, виготовлення розробка монтаж - швидко якісно.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua")
  meta(property="og:type" content="website")
	title Реклама Поділля. Розробка Та Виготовлення Зовнішньої Реклами
	link(rel="canonical", href="https://reklama-podillya.com.ua/")
		<script type="application/ld+json">
		[
			{
			"@context": "http://schema.org/",
			"@type": "LocalBusiness",
			"name": "РЕКЛАМА ПОДІЛЛЯ",
			"telephone": "067 904 77 38"
			},
			{
			"@context": "http://schema.org/",
			"@type": "LocalBusiness",
			"name": "реклама Поділля",
			"image": [
				"https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
				"https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
				"https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
				"https://reklama-podillya.com.ua/img/vf_veloman.jpg",
				"https://reklama-podillya.com.ua/img/vf_center.jpg",
				"https://reklama-podillya.com.ua/img/vf_right.jpg"
			],
			"telephone": "067 904 77 38",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
			}
			}
		]
		</script>

block content 
  section.first-screen
    .bg 
      img.active-img(src="img/fs_bg1.jpg", alt="Композитний фасад")
      img(src="img/fs_bg2.JPG", alt="Об'ємні літери")
      img(src="img/fs_bg3.JPG", alt="Об’ємний козирок")
      //- img(src="img/fs_bg5.JPG", alt="Об'ємні світлові літери")
    h1 розробка та виготовлення зовнішньої реклами
    ul.adv-list
      li 
        a(href="panel_sign.html") вивіски
      li 
        a(href="#") лайтбокси
      li 
        a(href="#") літери
      li 
        a(href="#") банери
    +button('g', '#contacts', 'замовити')
  .wrapper.main-page
    a#about-us
    section.order-adv.anim-parent 
      h2.sec-title.anim.animation-fade ПРИДБАТИ ЧИ ЗАМОВИТИ РОЗРОБКУ, ОТРИМАТИ КОНСУЛЬТАЦІЮ - ВСЕ ПО ЗОВНІШНІЙ РЕКЛАМІ В АГЕНЦІЇ "РЕКЛАМА ПОДІЛЛЯ" 
      p.sec-desc.anim.animation-fade Реклама Поділля – агенція в м. Хмельницькому, що розробляє зовнішню рекламу. Здійснює монтаж рекламних конструкцій. Розробляє, починаючи з 3D макета, виготовляє та монтує вивіски від звичайних щитових вивісок, світлових коробів, лайтбоксів світлових, об’ємних вивісок, до складних дахових вивісок, світлових літер, об’ємних букв, літер з різними способами підсвічування.
      .preferences.flex-sb.anim.animation-bottom 
        +preference(
          'СЕРТИФІКОВАНІ, ЯКІСНІ МАТЕРІАЛИ ДЛЯ ВИГОТОВЛЕННЯ ЗОВНІШНЬОЇ РЕКЛАМИ',
          'Реклама Поділля, співпрацює з постачальниками лише сертифікованих високоякісних матеріалів, безпечної та якісної електрики, підсвітки, що гарантує високу якість та довговічність зовнішньої реклами.',
          'На всю рекламну продукцію, вивіски, лайтбокси, літери світлові об’ємні, неонові вивіски, банери, штендери, таблички адресні – надається документація, дозволи, та гарантія.'
        )
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97 112" id="sertificate">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M69.8028 6.22146C66.5434 0.612536 59.5349 -1.57083 53.6666 1.19455L51.7384 2.1032C49.2469 3.2773 46.3685 3.31229 43.8492 2.19912L41.8995 1.33762C35.9657 -1.28426 29.0124 1.06885 25.8903 6.75537L24.8644 8.62385C23.5389 11.0382 21.2308 12.7584 18.5383 13.3386L16.4546 13.7877C10.113 15.1543 5.87071 21.1451 6.68735 27.5807L6.95568 29.6953C7.3024 32.4277 6.4462 35.176 4.609 37.228L3.18717 38.8161C-1.14002 43.6492 -1.05078 50.9894 3.39264 55.7159L4.85267 57.269C6.73922 59.2757 7.66198 62.0024 7.3818 64.7424L7.16496 66.8629C6.69421 71.4665 8.79142 75.7812 12.3458 78.3166C12.1375 78.3945 11.9537 78.542 11.8329 78.7491L1.21002 96.9598C0.756008 97.7381 1.48214 98.6727 2.34852 98.4252L18.5759 93.7888C19.1169 93.6342 19.6789 93.9563 19.8191 94.5013L23.9866 110.708C24.2102 111.578 25.3778 111.735 25.8233 110.955L35.9067 93.3096C38.2527 93.6466 40.7155 93.3209 43.0047 92.2421L44.9329 91.3335C47.4244 90.1593 50.3029 90.1244 52.8222 91.2375L54.7719 92.099C56.3987 92.8178 58.1021 93.1627 59.7823 93.1675C59.7954 93.1966 59.81 93.2253 59.8262 93.2536L69.9415 110.955C70.387 111.735 71.5546 111.578 71.7782 110.708L75.9458 94.5013C76.0859 93.9563 76.6479 93.6342 77.189 93.7888L93.4163 98.4252C94.2827 98.6727 95.0088 97.7381 94.5548 96.9598L83.9319 78.7491C83.8446 78.5993 83.7242 78.4807 83.5855 78.397C87.9885 75.9886 90.6454 71.0682 89.984 65.856L89.7157 63.7413C89.369 61.009 90.2252 58.2606 92.0624 56.2086L93.4842 54.6205C97.8114 49.7874 97.7221 42.4472 93.2787 37.7207L91.8187 36.1677C89.9321 34.1609 89.0094 31.4342 89.2896 28.6942L89.5064 26.5737C90.1663 20.1202 85.7797 14.2343 79.4067 13.0223L77.3127 12.624C74.6069 12.1094 72.2576 10.4458 70.8738 8.06445L69.8028 6.22146ZM81.282 79.3704C80.9342 79.4778 80.5789 79.571 80.2168 79.649L78.133 80.098C75.4406 80.6783 73.1325 82.3985 71.8069 84.8128L70.7811 86.6813C69.0705 89.7968 66.21 91.9117 62.9971 92.7561L68.8775 103.047C69.323 103.826 70.4906 103.669 70.7143 102.8L73.8075 90.7703C73.9477 90.2253 74.5097 89.9032 75.0508 90.0578L87.0645 93.4903C87.9309 93.7379 88.6571 92.8032 88.203 92.0249L81.3406 80.2608C81.1762 79.9789 81.1652 79.6499 81.282 79.3704ZM32.9176 92.4938C30.4543 91.4809 28.2999 89.6783 26.8686 87.2152L25.7976 85.3722C24.4137 82.9908 22.0645 81.3272 19.3587 80.8126L17.2647 80.4144C16.3092 80.2327 15.3983 79.9459 14.5424 79.5679C14.5867 79.7973 14.5512 80.0431 14.4242 80.2608L7.56179 92.0249C7.10777 92.8032 7.8339 93.7379 8.70029 93.4903L20.7141 90.0578C21.2551 89.9032 21.8172 90.2253 21.9573 90.7703L25.0506 102.8C25.2742 103.669 26.4418 103.826 26.8873 103.047L32.9176 92.4938ZM54.9455 3.90832C59.4053 1.80664 64.7318 3.46599 67.209 7.72878L68.2799 9.57176C70.1008 12.7052 73.1919 14.8941 76.7521 15.5712L78.8462 15.9694C83.6897 16.8906 87.0235 21.3638 86.522 26.2685L86.3051 28.3891C85.9365 31.9943 87.1506 35.5821 89.6329 38.2225L91.0929 39.7756C94.4699 43.3677 94.5378 48.9463 91.2491 52.6194L89.8273 54.2075C87.4099 56.9075 86.2833 60.5238 86.7395 64.119L87.0079 66.2336C87.6285 71.1247 84.4044 75.6777 79.5848 76.7163L77.501 77.1654C73.9583 77.9288 70.9213 80.1923 69.1772 83.369L68.1513 85.2375C65.7786 89.5592 60.494 91.3476 55.9844 89.355L54.0346 88.4935C50.7198 87.0288 46.9324 87.0748 43.6541 88.6197L41.7259 89.5283C37.266 91.63 31.9396 89.9707 29.4624 85.7079L28.3914 83.8649C26.5706 80.7315 23.4794 78.5426 19.9192 77.8655L17.8252 77.4672C12.9817 76.5461 9.64786 72.0728 10.1494 67.1681L10.3662 65.0476C10.7349 61.4423 9.52073 57.8546 7.03844 55.2141L5.57841 53.6611C2.20141 50.0689 2.13359 44.4904 5.42225 40.8172L6.84408 39.2291C9.26145 36.5291 10.388 32.9129 9.93181 29.3176L9.66348 27.203C9.04284 22.312 12.2669 17.759 17.0866 16.7203L19.1703 16.2713C22.713 15.5078 25.75 13.2444 27.4942 10.0677L28.52 8.19917C30.8928 3.87742 36.1773 2.08905 40.687 4.08168L42.6367 4.94318C45.9516 6.40789 49.739 6.36184 53.0173 4.81697L54.9455 3.90832Z" fill="white"></path>
            <circle cx="48.6324" cy="46.6412" r="26.5" stroke="white" stroke-width="3"></circle>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.1325 35.6412C66.7249 36.2202 66.7358 37.1699 66.1568 37.7624L46.0655 58.321C45.2768 59.1279 43.9771 59.1231 43.1945 58.3104L31.5924 46.2621C31.0178 45.6654 31.0357 44.7158 31.6325 44.1412C32.2292 43.5665 33.1788 43.5845 33.7534 44.1812L43.2103 54.0019C43.993 54.8146 45.2927 54.8194 46.0814 54.0124L64.0113 35.6656C64.5903 35.0731 65.54 35.0622 66.1325 35.6412Z" fill="white" fill-opacity="0.9"></path>
          </svg>
        +preference(
          'Вигідні ціни',
          'Ми підібрали найдоступніші ціни на вивіски, світлові, фігурні, двосторонні лайтбокси (світловий короб), що дозволять, при цьому, отримати високоякісну зовнішню рекламу розроблену нашими фахівцями.',
          'Також надамо повноцінну гарантію, оформимо всі відповідні дозволи та фінансові документи, забезепечимо постійне сервісне обслуговування. Наш, майже двадцятирічний досвід у сфері зовнішньої реклами з впевненістю дозволяє гарантувати це!'
        )
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111 111" id="prices">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.5 3C26.5051 3 3 26.5051 3 55.5C3 84.4949 26.5051 108 55.5 108C84.4949 108 108 84.4949 108 55.5C108 26.5051 84.4949 3 55.5 3ZM0 55.5C0 24.8482 24.8482 0 55.5 0C86.1518 0 111 24.8482 111 55.5C111 86.1518 86.1518 111 55.5 111C24.8482 111 0 86.1518 0 55.5Z" fill="white"></path>
            <path d="M54.1023 92.5455V18H58.8778V92.5455H54.1023ZM70.1761 40.3636C69.8267 37.4129 68.4096 35.1222 65.9247 33.4915C63.4399 31.8608 60.392 31.0455 56.7812 31.0455C54.1411 31.0455 51.831 31.4725 49.8509 32.3267C47.8902 33.1809 46.3565 34.3554 45.25 35.8501C44.1629 37.3449 43.6193 39.0436 43.6193 40.946C43.6193 42.5379 43.9979 43.9065 44.755 45.0519C45.5315 46.1778 46.5215 47.1193 47.7251 47.8764C48.9287 48.6141 50.1906 49.2256 51.5107 49.7109C52.8307 50.1768 54.044 50.5554 55.1506 50.8466L61.2074 52.4773C62.7604 52.8849 64.4882 53.4479 66.3906 54.1662C68.3125 54.8845 70.147 55.8648 71.8942 57.1072C73.6607 58.3303 75.1167 59.9027 76.2621 61.8246C77.4074 63.7465 77.9801 66.1051 77.9801 68.9006C77.9801 72.1231 77.1357 75.035 75.4467 77.6364C73.7772 80.2377 71.3312 82.3052 68.1087 83.8388C64.9055 85.3724 61.0133 86.1392 56.4318 86.1392C52.161 86.1392 48.4628 85.4501 45.3374 84.0717C42.2313 82.6934 39.7853 80.7715 37.9993 78.3061C36.2327 75.8407 35.233 72.9773 35 69.7159H42.4545C42.6487 71.9678 43.4058 73.8314 44.7259 75.3068C46.0653 76.7628 47.7543 77.8499 49.7926 78.5682C51.8504 79.267 54.0634 79.6165 56.4318 79.6165C59.1884 79.6165 61.6636 79.17 63.8572 78.277C66.0509 77.3646 67.7884 76.1027 69.0696 74.4915C70.3509 72.8608 70.9915 70.9583 70.9915 68.7841C70.9915 66.804 70.4382 65.1927 69.3317 63.9503C68.2251 62.7079 66.7692 61.6984 64.9638 60.9219C63.1584 60.1454 61.2074 59.4659 59.1108 58.8835L51.7727 56.7869C47.1136 55.4474 43.4252 53.5353 40.7074 51.0504C37.9896 48.5656 36.6307 45.3139 36.6307 41.2955C36.6307 37.9564 37.5334 35.0445 39.3388 32.5597C41.1636 30.0554 43.6096 28.1141 46.6768 26.7358C49.7635 25.3381 53.2093 24.6392 57.0142 24.6392C60.858 24.6392 64.2746 25.3284 67.2642 26.7067C70.2538 28.0656 72.6222 29.9292 74.3693 32.2976C76.1359 34.666 77.0677 37.3546 77.1648 40.3636H70.1761Z" fill="white"></path>
          </svg>
        +preference(
          'великий спектр послуг',
          'Виготовлення вивіски, лайтбокса, об’ємних літер та загалом зовнішньої реклами в цілому – кропіткий, багатоетапний процес, який в змозі виконати правильно тільки справжні професіонали. Зовнішня реклама – це різноманітність конструкцій, видів і технологій будь-якої складності – лайтбокси, світлові вивіски та світлові букви різного розміру, шрифту, способу підсвітки.',
          'Також ми пропонуємо  оформлення фасаду комерційного приміщення.'
        )
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 110" id="services">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.7505 20.5502C54.9387 17.3621 59.2627 15.571 63.7714 15.571C68.28 15.571 72.6041 17.3621 75.7922 20.5502C78.9803 23.7383 80.7714 28.0624 80.7714 32.571C80.7714 37.0797 78.9803 41.4037 75.7922 44.5919C72.6041 47.78 68.28 49.571 63.7714 49.571C59.2627 49.571 54.9387 47.78 51.7505 44.5919C48.5624 41.4037 46.7714 37.0797 46.7714 32.571C46.7714 28.0624 48.5624 23.7383 51.7505 20.5502ZM63.7714 18.571C60.0583 18.571 56.4974 20.046 53.8719 22.6715C51.2464 25.2971 49.7714 28.858 49.7714 32.571C49.7714 36.2841 51.2464 39.845 53.8719 42.4705C56.4974 45.0961 60.0583 46.571 63.7714 46.571C67.4844 46.571 71.0454 45.0961 73.6709 42.4705C76.2964 39.845 77.7714 36.2841 77.7714 32.571C77.7714 28.858 76.2964 25.2971 73.6709 22.6715C71.0454 20.046 67.4844 18.571 63.7714 18.571Z" fill="white"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 78.9815L10.3166 68.5437C12.8402 65.9905 16.9557 65.9664 19.5088 68.49L40.8099 89.5437C43.3631 92.0672 43.3872 96.1827 40.8636 98.7359L30.547 109.174L0 78.9815ZM4.24257 78.9567L30.5222 104.931L38.73 96.627C40.0888 95.2522 40.0758 93.0362 38.701 91.6774L17.4 70.6237C16.0252 69.2648 13.8091 69.2778 12.4503 70.6526L4.24257 78.9567Z" fill="white"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.2729 3.54393C53.1304 2.43888 55.575 3.07764 56.7176 4.98966L57.0717 5.60123L57.0733 5.60406C58.7145 8.46544 61.0905 10.2312 63.7755 10.2312C66.4591 10.2312 68.8433 8.46638 70.5008 5.6068L70.8581 4.98969C72.0007 3.07765 74.4454 2.43888 76.3028 3.54393L76.3247 3.55673L82.0201 6.81594C84.2898 8.11288 85.0672 11.0409 83.7706 13.287C82.1129 16.1472 81.7703 19.091 83.1105 21.4165C84.4506 23.7419 87.1683 24.9202 90.4668 24.9202C93.0669 24.9202 95.221 27.0517 95.221 29.6744V35.4677C95.221 38.0678 93.0895 40.2219 90.4668 40.2219C87.1683 40.2219 84.4506 41.4002 83.1105 43.7256C81.771 46.05 82.1125 48.992 83.768 51.8507C84.2103 52.629 84.0972 53.9229 83.1398 55.562C82.2213 57.1346 80.7762 58.555 79.5272 59.2687C79.2726 59.4142 79.0768 59.623 78.9483 59.864C77.8484 59.3826 76.7407 59.1466 75.896 59.0762L75.806 59.0687L75.7159 59.072C73.475 59.155 70.0145 59.2546 66.9198 59.2836C65.3712 59.2981 63.9262 59.2948 62.7759 59.2637C61.5524 59.2307 60.8437 59.1679 60.6352 59.1158C58.9541 58.6955 56.6591 57.3603 54.2084 55.3997C53.6572 54.9588 52.962 54.6965 52.2999 54.5245C51.615 54.3466 50.8356 54.2331 50.0175 54.1625C48.3808 54.0213 46.4447 54.0402 44.5102 54.1353C44.0679 54.1571 43.6232 54.183 43.1796 54.2121C43.1795 53.3912 43.3922 52.5768 43.807 51.852C45.4631 48.9928 45.8049 46.0503 44.4652 43.7256C43.1251 41.4002 40.4074 40.2219 37.1089 40.2219C34.4862 40.2219 32.3547 38.0678 32.3547 35.4677V29.6744C32.3547 27.0744 34.4862 24.9202 37.1089 24.9202C40.4074 24.9202 43.1251 23.7419 44.4652 21.4165C45.8053 19.0911 45.4629 16.1476 43.8055 13.2877C42.5084 11.0415 43.2866 8.11254 45.5564 6.81548L51.251 3.55673L51.2729 3.54393ZM41.7049 57.3306C41.8944 57.355 42.0916 57.3434 42.2875 57.2905C42.2985 57.2875 42.3094 57.2844 42.3203 57.2812C43.0952 57.2214 43.8806 57.1699 44.6576 57.1317C46.5355 57.0394 48.3182 57.027 49.7596 57.1514C50.4806 57.2136 51.0801 57.3072 51.5456 57.4281C52.0339 57.555 52.2605 57.6833 52.3343 57.7423C54.8836 59.7818 57.5886 61.4465 59.9076 62.0262C60.499 62.1741 61.5654 62.2321 62.695 62.2626C63.8978 62.2951 65.3841 62.2981 66.9479 62.2834C70.034 62.2545 73.4692 62.1565 75.7304 62.0735C76.3675 62.1378 77.2673 62.3517 78.1006 62.781C78.9664 63.2271 79.652 63.8463 80.0011 64.6615C80.1654 65.0452 80.2714 65.5068 80.2714 66.071C80.2714 68.4178 79.7939 69.7253 79.1503 70.4495C78.543 71.1327 77.5381 71.571 75.7714 71.571H53.2714V74.571H75.7714C78.0046 74.571 79.9998 74.0093 81.3925 72.4426C82.7488 70.9167 83.2714 68.7242 83.2714 66.071C83.2714 65.6148 83.2297 65.179 83.1502 64.7641C83.8291 64.382 84.5678 64.0023 85.3534 63.608C85.5994 63.4844 85.8504 63.3593 86.105 63.2324C87.0476 62.7626 88.0382 62.2687 88.9996 61.7454C91.4237 60.426 93.9333 58.7823 95.5195 56.4031C95.8204 55.9517 96.1756 55.3488 96.5414 54.728L96.5415 54.7277C96.7908 54.3046 97.0449 53.8732 97.2901 53.4759C97.9488 52.4084 98.6842 51.3344 99.5522 50.4105C101.244 48.6093 103.374 47.4213 106.477 48.0419C109.107 48.5679 110.075 49.6848 110.446 50.5896C110.835 51.5408 110.714 52.6168 110.439 53.3613C106.718 58.7607 97.8475 70.8735 91.2107 77.5103C87.0787 81.6424 83.7788 83.6072 80.696 84.5777C77.5757 85.56 74.5562 85.571 70.7714 85.571C64.6987 85.571 50.8006 86.5772 44.6502 87.0759L44.8926 90.0661C51.0755 89.5648 64.8441 88.571 70.7714 88.571H70.8763C74.5521 88.5711 78.0013 88.5712 81.5968 87.4393C85.264 86.2848 88.9641 83.9996 93.332 79.6317C100.237 72.7265 109.337 60.2603 113.007 54.9208L113.096 54.7921L113.156 54.6479C113.679 53.393 114.017 51.3931 113.222 49.4524C112.384 47.4073 110.435 45.7741 107.066 45.1001C102.668 44.2207 99.5485 46.0328 97.3656 48.3565C96.296 49.4951 95.4377 50.7649 94.737 51.9005C94.4029 52.4421 94.1254 52.9154 93.8771 53.3391C93.5648 53.8719 93.2985 54.3262 93.0233 54.739C91.8638 56.4782 89.9096 57.8345 87.5654 59.1105C86.6563 59.6053 85.7296 60.0673 84.7939 60.5338L84.7937 60.5339C84.5322 60.6643 84.2701 60.795 84.0074 60.9268C83.2924 61.2858 82.5756 61.6524 81.8866 62.0338C81.7594 61.8761 81.6263 61.7264 81.4885 61.5843C83.0827 60.547 84.6757 58.8808 85.7303 57.075C86.8492 55.1593 87.638 52.5764 86.3709 50.3589L86.3662 50.351C85.0287 48.0433 85.0915 46.2965 85.7098 45.2235C86.3283 44.1503 87.8074 43.2219 90.4668 43.2219C94.7566 43.2219 98.221 39.7144 98.221 35.4677V29.6744C98.221 25.3846 94.7134 21.9202 90.4668 21.9202C87.8074 21.9202 86.3283 20.9919 85.7098 19.9186C85.0915 18.8456 85.0287 17.0989 86.3662 14.7912L86.3673 14.7894C88.4927 11.1107 87.2292 6.33731 83.5085 4.21121L77.8251 0.958833C74.4857 -1.01925 70.2267 0.183389 68.2756 3.46289L68.2666 3.47826L67.9049 4.10304C66.5669 6.41138 65.0172 7.23118 63.7755 7.23118C62.5361 7.23118 60.9957 6.41412 59.6744 4.10925L59.6712 4.10369L59.3091 3.47827L59.3001 3.46289C57.349 0.183371 53.09 -1.01926 49.7506 0.958865L44.0664 4.21167C40.3463 6.338 39.0831 11.111 41.2084 14.7894L41.2095 14.7912C42.5471 17.0989 42.4843 18.8456 41.8659 19.9186C41.2474 20.9919 39.7683 21.9202 37.1089 21.9202C32.8191 21.9202 29.3547 25.4278 29.3547 29.6744V35.4677C29.3547 39.7144 32.8191 43.2219 37.1089 43.2219C39.7683 43.2219 41.2474 44.1503 41.8659 45.2235C42.4843 46.2965 42.5471 48.0433 41.2095 50.351L41.2058 50.3573C40.4867 51.612 40.1389 53.0316 40.1834 54.4539C37.8852 54.6701 35.8438 54.9253 34.5968 55.0812L34.5968 55.0812L34.5853 55.0826C33.4457 55.2251 32.2315 55.8309 31.1193 56.5348C29.968 57.2633 28.7568 58.2079 27.5931 59.2089C25.2642 61.2125 23.0166 63.5374 21.6503 65.0745L23.8925 67.0676C25.1928 65.6047 27.3452 63.3796 29.5496 61.4831C30.6527 60.5342 31.7415 59.6912 32.7235 59.0698C33.7446 58.4236 34.4971 58.117 34.9574 58.0594C36.4357 57.8747 38.9715 57.558 41.7049 57.3306Z" fill="white"></path>
          </svg>
    section.partners.anim-parent
      b.sec-title.anim.animation-fade Наші партнери:
      .slider-line.flex-sb.anim.animation-fade
        .slider-pack 
            img(src="img/ofice_center.png", alt="Логотип компанії \"Офіс центр\"")
            img(src="img/zbruch_palac.png", alt="Логотип компанії \"Zbruch Palace\"")
            img(src="img/chip.png", alt="Логотип компанії \"ЧІП\"")
            img(src="img/seven_ocean.png", alt="Логотип компанії \"7 океан\"")
            img(src="img/ajour.png", alt="Логотип компанії \"Ajour\"")
            img(src="img/fielmann.png", alt="Логотип компанії \"Fielmann\"")
            img(src="img/technoprostir.png", alt="Логотип компанії \"Technoprostir\"")
            img(src="img/ukrgazbank.png", alt="Логотип компанії \"Укргазбанк\"")
        .slider-pack 
            img(src="img/ofice_center.png", alt="Логотип компанії \"Офіс центр\"")
            img(src="img/zbruch_palac.png", alt="Логотип компанії \"Zbruch Palace\"")
            img(src="img/chip.png", alt="Логотип компанії \"ЧІП\"")
            img(src="img/seven_ocean.png", alt="Логотип компанії \"7 океан\"")
            img(src="img/ajour.png", alt="Логотип компанії \"Ajour\"")
            img(src="img/fielmann.png", alt="Логотип компанії \"Fielmann\"")
            img(src="img/technoprostir.png", alt="Логотип компанії \"Technoprostir\"")
            img(src="img/ukrgazbank.png", alt="Логотип компанії \"Укргазбанк\"")
    a#service
    section.services.anim-parent
      .services-desc.anim.animation-fade
        h2.sec-title РЕКЛАМНІ ПОСЛУГИ. ВИГОТОВЛЕННЯ ЗОВНІШНЬОЇ РЕКЛАМИ
        p.sec-desc Ми пропонуємо комплексні послуги з виготовлення зовнішньої реклами, починаючи від проєктування і дизайнерської ідеї, закінчуючи втіленням ваших побажань в оригінальних конструкціях. Такий підхід дозволяє нам створювати яскраві, незабутні образи корпоративної індивідуальності.
      .services-list.anim.animation-fade
        h2.sec-title МИ ГОТОВІ НАДАТИ ВАМ ПОСЛУГИ В НАСТУПНИХ НАПРЯМКАХ: 
        +service(
          'ДИЗАЙН І ПРОЄКТУВАННЯ ЯК ВАЖЛИВИЙ ЕТАП ВИГОТОВЛЕННЯ ЗОВНІШНЬОЇ РЕКЛАМИ.',
          'Професійні дизайнери нашої компанії створять макет за допомогою засобів 3D - візуалізації, що дасть змогу чітко зрозуміти, який саме зовнішній вигляд буде мати ваша вивіска, лайтбокс, банер чи будівля. Дизайн і проєктування взаємодіють один з одним, працюючи рука в руку, для досягнення успішного результату. Дизайн визначає зовнішній вигляд і функціональність, а проєктування перетворює ці ідеї у практичні плани та реалізовує їх на практиці.'
        )
        +service(
          'ОБСЛУГОВУВАННЯ ТА РЕМОНТ ВИВІСОК, ЗОВНІШНЬОЇ СВІТЛОВОЇ РЕКЛАМИ.',
          'На кожен наш виріб ми надаємо гарантійний період! Також наша компанія виконує професійне обслуговування і ремонт вивісок, реставрацію об’ємних літер, заміну та ремонт системи освітлення, демонтаж старих вивісок. Обслуговування та ремонт зовнішньої реклами є важливими аспектами забезпечення ефективності та тривалості рекламних конструкцій.'
        )
        +service(
          'ВИГОТОВЛЕННЯ ДОЗВІЛЬНОЇ ДОКУМЕНТАЦІЇ ( ПАСПОРТ ВИВІСКИ )',
          'Реєстрація об’єктів зовнішньої реклами, так само як і виготовлення – клопітка та обтяжлива робота, що вимагає певних знань і навичок. Фахівці нашої компанії виготовлять всю необхідну дозвільну документацію, паспорт вивіски, для легального функціонування ваших вивісок, лайт-боксів та інших рекламних конструкцій.'
        )
        +service(
          'АРХІТЕКТУРНЕ ПІДСВІЧУВАННЯ.',
          'Архітектурне підсвічування є важливою складовою сучасного міського планування та реконструкції, оскільки воно додає більшу естетичність та привабливість. Для архітектурного підсвічування ми використовуємо різноманітні світлові джерела, з великою палітрою кольорів, враховуючи яскравість та напрямок світлового потоку. Підсвічування може бути фіксованим, коли світлові джерела освітлюють певні деталі, або динамічним, коли світлові джерела змінюють своє положення або кольори, створюючи рухливі ефекти.'
        )
        +service(
          'ОФОРМЛЕННЯ ТРАНСПОРТУ.',
          'Наші фахівці подбають про іміджеве або рекламно-інформаційне оформлення транспорту, в залежності від поставлених цілей. Якщо у вас є свій автопарк, ми можемо оформити його в єдиному фірмовому стилі, що буде працювати на підвищення його впізнаваності. При оформленні транспорту ми використовуємо вінілові плівки з зображенням, нанесеним шляхом повноколірного друку з наступним ламінуванням, що забезпечує довготривалість використання.'
        )
        +service(
          'ВЕСЬ КОМПЛЕКС ВИРОБНИЦТВА ЗОВНІШНЬОЇ РЕКЛАМИ',
          'Також в нашій компанії ви можете замовити дизайн та виробництво зовнішньої вивіски будь-якого типу: композитні, неонові, світлодіодні, плоскі та об’ємні, а також вивіски з інкрустацією букв.',
          'Відвідайте наші сторінки в соціальних мережах facebook та instagram.'
        )
        +service(
          'МОНТАЖ КОНСТРУКЦІЙ ЗОВНІШНЬОЇ РЕКЛАМИ.',
          'Загалом комплекс виробництва зовнішньої реклами об’єднує дизайн, виготовлення, встановлення, обслуговування та управління проєктами для створення ефективної зовнішньої реклами, яка привертає увагу цільової аудиторії в різних громадських місцях. Виробництво рекламної продукції починається з візуалізації вашої ідеї, вибору відповідних кольорів, тексту, стилю та матеріалів, які використовуються для виготовлення рекламних виробів. Далі за справу беруться наші спеціалісти, які виконують поставлене їм завдання на професійному рівні, використовуючи свій багаторічний досвід!'
        )
    //- section creating
    include components/creating 
    a#facades
    section.facades.anim-parent 
      h2.sec-title.anim.animation-fade ВЕНТИЛЬОВАНІ ФАСАДИ (МОНТАЖ) СИСТЕМИ З АЛЮМІНІЄВОГО КОМПОЗИТУ.
      .sec-desc.anim.animation-fade
        p Вентильовані фасади – сучасний метод оформлення фасадів будівель та приміщень, які дозволяють значно покращити як естетичний вигляд будівель, так і його звуко- та термоізоляцію.
        p Вентильовані фасади будівель, чи навісний фасад – система, що складається з облицювальних матеріалів, (алюмінієві композитні панелі) які кріпляться на каркас зі сталі нержавійки чи цинкування, або алюмінієвий каркас опорної стіни чи моноліту. Основною відмінністю та перевагою вентильованого фасаду – циркуляція повітря між облицювальною панеллю та стіною. Це дозволяє прибрати вологу та конденсат з конструкції.
      .fig-list.flex-sb.anim.animation-bottom 
        +creatingFigure(
          "img/vf_veloman.jpg",
          "Вентильований фасад для компанії «VELOMAN»",
          "Вентильований фасад для компанії «VELOMAN»",
          "Вентильований фасад виконаний з HPL Fundermaxs панелей на любий смак, кольорова гама сягає до 300 одиниць. під колір каменю, дерева, однотонні по каталогу. Вся обшивка кріпиться на алюмінієву підсистему. В літній час на клейову основу, зимовий час на саморізи в колір панелі. Також фасад можна втеплити від 50 до 200 мм. мінеральною ватою. Гарантія на матеріали виробник надає 50 років", 
          "м.Кам’янець-Подільський"
        )
        +creatingFigure(
          "img/vf_center.jpg",
          "Вентильований композитний фасад",
          "Вентильований композитний фасад",
          "Обшивка приміщення вентильованого фасаду під  замовлення, панелями алюмінієвого композиту 3 мм. товщиною на алюмінієвій підсистемі. з утепленням мінеральної вати"
        )
        +creatingFigure(
          "img/vf_right.jpg",
          "Вентильований фасад Бізнес Центр ІНВОЛ, Волочиськ",
          "Вентильований фасад Бізнес Центр ІНВОЛ, Волочиськ",
          "Обшивка приміщення касетами алюмінієвого композиту 4 мм Г 1  по класу негорючості , вмонтоване на алюмінієвій підсистемі, з утепленням мінеральної вати від 50 до 150 мм"
        )
      +buttonLine
    a#prices-table
    section.prices.anim-parent 
      h2.sec-title.anim.animation-fade Ціни на виготовлення вивісок 
      p.sec-desc.anim.animation-fade Бізнес розпочинається з вивіски, та зовнішнього фасаду Вашої комерції. Чим краще та вдало вибрано макет у 3D, тим більше клієнт зацікавиться відвідати ваш магазин, аптеку, кав’ярню та ін. Кожному комерційному об’єкту необхідна якісна і красива вивіска та зовнішній вигляд вхідної групи чи фасаду. Часом, коли виникає необхідність купити вивіску, чи оформити комерцію, складно зосередитися в пропозиціях, якими наповнений інтернет. Реклама Поділля пропонує увесь спектр послуг для Вашої комерції, починаючи із зовнішнього вигляду, закінчуючи вивіскою та усією внутрішньою інформацією – таблички на дверях, а також паспорт вивіски, вимоги до яких зараз існують.
      .dependencies.anim.animation-fade 
        h3.sec-subtitle Ціни виготовлення вивісок залежать від:
        ul.components 
          li розміру
          li використаних матеріалів
          li наявності підсвічування, та її якості
          li складність виготовлення
          li складність монтажу (зовнішніх робіт).
      .calculation.anim.animation-fade
        h3.sec-subtitle Розрахунок
        p.sec-desc Точний розрахунок буде проведений менеджером, після замірів об’єкту. На сайті також можна оформити попереднє замовлення.
      .minimal-prices.anim.animation-fade 
        h3.sec-subtitle Мінімальні ціни на вивіску
        p.sec-desc Кожен проект має свої особливості – розмір, якість матеріалів та кріплень, наявність підсвідки та багато іншого. Нижче, в таблиці, вказані ціни, що замовляються в Реклама Поділля.
      table.anim.animation-fade 
        thead 
          tr  
            th Послуга
            th ціна
        tbody 
          tr
            td Вивіска з пластику ПВХ, 0.5х0.5м
            td від 300 грн
          tr
            td Вивіска композитна 0.5х0.5м
            td від 470 грн
          tr
            td Вивіска у формі коробу 0.5х0.5 м
            td від 1400 грн
          tr
            td Світлова вивіска з прозорого та кольорових акрилів
            td від 2915 грн
          tr
            td Окремостоячі літери несвітлові на фасад чи в приміщення
            td від 870 грн
          tr
            td Літери з гнучкого неону
            td від 650 грн
          tr 
            td.title-cell(colspan="2") ЦІНИ НА ВХІДНУ ГРУПУ
          tr
            td Ціни на вхідну групу комерції коливаються від вибраного матеріалу
            td від 10 000 грн 
          tr 
            td.title-cell(colspan="2") ЦІНИ НА ВЕНТИЛЬВАНИЙ ФАСАД
          tr
            td Обшивка касетами алюмінієвого композиту 3 мм на направляючому алюмінієвому профілі без утеплення
            td 3200 грн м<sup>2</sup>
          tr
            td Обшивка касетами алюмінієвого композиту 3 мм на направляючому алюмінієвому профілі з утепленням
            td 4125 грн м<sup>2</sup>
          tr
            td Обшивка касетами алюмінієвого композиту 4 мм Г1 на направляючому алюмінієвому профілі без утеплення
            td 3450 грн м<sup>2</sup>
          tr
            td Обшивка касетами алюмінієвого композиту 4 мм Г1 на направляючому алюмінієвому профілі з утепленням
            td 4300 грн м<sup>2</sup>
          tr
            td Обшивка HPL панелями на направляючому алюмінієвому профілі без утеплення
            td від 5500 грн м<sup>2</sup>
          
    //- section.promo 
    //-   b.sec-title акції
    //-   .promo-line.flex-sb 
    //-     +promo(
    //-       'вивіска за вигідною ціною', 
    //-       '260 ГРН ЗА (50 СМ НА 100 СМ)',
    //-       'Надаємо гарантію на вивіску (роботу та матеріали). Здійснюємо гарантійний та поточний ремонт. Надаємо всі необхідні дозвільні документи. Працюємо прозоро, відкрито.',
    //-       'оцинкована жесть',
    //-       'пластик ПВХ т.3 мм',
    //-       'алюмінієвий композит',
    //-       'ламінацією Оракал')
    //-     +promo(
    //-       'лайтбокс фігурний та світловий', 
    //-       '4200 ГРН ЗА М. КВ.',
    //-       'Надаємо гарантію на вивіску (роботу та матеріали). Здійснюємо гарантійний та поточний ремонт. Надаємо всі необхідні дозвільні документи. Працюємо прозоро, відкрито.',
    //-       'пластик виробництво Німеччина',
    //-       'гарантія на світлодіоди 12 місяців',
    //-       'дизайн 3D макета на вибір')
    //-     +promo(
    //-       'літери світлові, обʼємні з підсвіткою', 
    //-       '1176 ГРН ВИСОТА 30 СМ',
    //-       'Надаємо гарантію на вивіску (роботу та матеріали). Здійснюємо гарантійний та поточний ремонт. Надаємо всі необхідні дозвільні документи. Працюємо прозоро, відкрито.',
    //-       'ціна за одну літеру',
    //-       'лазерна порізка',
    //-       'надяскраві світлодіоди',
    //-       'різні шрифти')
    section.contacts.anim-parent 
      b.sec-title.anim.animation-fade контакти
      .flex-sb
        form.half.anim.animation-left(action="send.php" method="POST")  
          a#contacts
          p.order замовити послугу
          .inputs 
            p.name
              input#name(type="text", name="name")
              label(for="name") Ваше імʼя
            p.email 
              input#email(type="text", name="email")
              label(for="email") Ваш емейл
            p.phone 
              input#phone(type="tel", name="phone" required)
              label(for="phone") Ваш номер телефону*
            p.topic 
              input#topic(type="text", name="topic")
              label(for="topic") Тема повідомлення
            p.message
              textarea#message(name="message", cols="30", rows="10", required)  
              label(for="message") Ваше повідомлення
            p.agreement 
              input#agreement(type="checkbox", name="agreement")
              label(for="agreement") Я згодний (-на) на обробку персональних данних
          p.button-line
            input.g-button.button(type="submit", value="відправити")
        .half.map-half.anim.animation-right 
          .contact-info
            p 
              a.tel(href="tel:+380679047738") 067 904 77 38
            p 
              address м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316
            +soc-line
          .map
            <iframe src="https://www.google.com/maps/d/embed?mid=1e8eIGtvIxX-P0DVk1aDMQs_x91NFk58&ehbc=2E312F"></iframe>
>>>>>>> 702c767cda0b308cd8b818c1c09ee47ff756cd99
