doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Реклама Поділля. Розробка Та Виготовлення Зовнішньої Реклами
        link(rel="stylesheet", href="css/styles.css")
    body 
        include helpers/mixins.pug

        include components/header.pug

        main 


        include components/footer.pug