extends components/template.pug 

block seo
  meta(name="description", content="Світлові об'ємні літери з підсвіткою різного типу. Вибір шрифтів. Світлові літери для зовнішньої реклами. Замовити в 'РЕКЛАМА ПОДІЛЛЯ'.")
  meta(name="keywords", content="Замовити світлові літери, купити об'ємні світлові літери, купити світлові літери, виготовлення світлових літер на замовлення, Об'ємні світлові літери на РЕКЛАМА ПОДІЛЛЯ")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Світлові Об'ємні Літери за низькою ціною. Підсвітка Хмельницький.")
  meta(property="og:description" content="Світлові об'ємні літери з підсвіткою різного типу. Вибір шрифтів. Світлові літери для зовнішньої реклами. Замовити в 'РЕКЛАМА ПОДІЛЛЯ'.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/light_letters.html")
  meta(property="og:type" content="website")
  title Світлові Об'ємні Літери за низькою ціною. Підсвітка Хмельницький.
  link(rel="canonical", href="https://reklama-podillya.com.ua/light_letters.html")
  script(type="application/ld+json").
    [
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "РЕКЛАМА ПОДІЛЛЯ",
        "telephone": "067 904 77 38"
      },
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "реклама Поділля",
        "image": [
          "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
          "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
          "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
          "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
          "https://reklama-podillya.com.ua/img/vf_center.jpg",
          "https://reklama-podillya.com.ua/img/vf_right.jpg"
        ],
        "telephone": "067 904 77 38",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
        }
      }
    ]

block content
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_bubbles.jpg", alt="Обʼємні світлові літери BUBBLES" itemprop="image")
      .page-content.choosen-page 
        h1.sec-title обʼємні світлові літери
        h2.sec-subtitle На даний час об’ємні букви (літери) є одним з найефективнішим видом зовнішньої реклами в багатьох сферах бізнесу.
        .sec-desc(itemprop="description")
          p Їх Об’ємний 3D-Ефект Дає Змогу Значно Краще Привернути Увагу Потенційного Клієнта До Вашої Рекламної Вивіски, Чи Взагалі До Будь-Якої Зовнішньої Реклами. Гарний ефект об’ємні букви (літери), дають при першій комунікації з потенційним клієнтом, адже це підкреслює імідж компанії та її солідність. Також об’ємні рекламні букви (літери) замовляють для проведення весільних, святкових (дні народження, ювілеї, корпоративи) або іміджевих (презентацій, виставка)фотосесій.
          p Вивіски, лайтбокси з об'ємними літерами – поширений вид візуальних знаків, що застосовуються, як зовні, так і всередині приміщення. 
        h2.sec-subtitle ВАРТІСТЬ ПОСЛУГ. РОЗРОБКА ТА ВИГОТОВЛЕННЯ.
        .sec-desc(itemprop="description")
          p Вартість пласких, об’ємних, світлових букв залежить від ряду критеріїв: вигляду виробу, розмірів, місця застосування, складності роботи й т.д. У нас ви можете замовити будь-який вподобаний варіант всього за кілька натискань.
          p Ціна на монтаж та виготовлення залежить від розмірів вивіски, а також від способу їх підсвітки, розміщення, монтажу та кріплення. Для більш детальної інформації зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        h2.sec-subtitle ціна - від 1176 грн за літеру (висота 30 см)
        ul.components
          li пластик Виробництво Німеччина
          li різка лазерним станком
          li надяскраві світлодіоди
          li різний шрифт
        .examples 
          h2.sec-subtitle 
        .fig-slider 
          .slider#slider(itemprop="image")
            .slider-container.examples-line
              - 
                var items = [
                  {
                    src: "img/pages/569BD883-D7C5-4895-BBD3-5A3B9EA9D9F1.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/B7EBE056-1519-45B7-919F-6461434C352A.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/BUBBLES.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0207.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0210.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0630.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_1559.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_3668.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_6963.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_9594.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/photo_2021-06-10_15-43-45.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_9864.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0857.jpg", 
                    title: ""
                  }                  
                ]
              each i in items 
                +pageFigure(
                  i.src,
                  i.title
                )
          .button-line
              +button('g', 'index.html#contacts', 'Замовити')