extends components/template.pug 

block seo 
  meta(name="description", content="Лайтбокс – це оптимальне рішення у співвідношенні ціни, ефективності та привабливості вивіски. Світлова вивіска, типу світлового короба з внутрішньою підсвіткою  створює об’ємній ефект, тому здається більшою та краще приверне увагу. Цей ефект можна підсилити зробивши його двостороннім та фігурним, у формі товарного знака, чи додати якийсь світловий елемент до лайтбоксу.")
  meta(name="keywords", content="Купити лайтбокси, світловий об'ємний лайтбок замовити, Світловий Лайтбокс - зовнішня реклма для бізнесу")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Лайтбокси різних видів - зовнішня реклма Вашого бізнесу")
  meta(property="og:description" content="Лайтбокс – це оптимальне рішення у співвідношенні ціни, ефективності та привабливості вивіски. Світлова вивіска, типу світлового короба з внутрішньою підсвіткою  створює об’ємній ефект, тому здається більшою та краще приверне увагу. Цей ефект можна підсилити зробивши його двостороннім та фігурним, у формі товарного знака, чи додати якийсь світловий елемент до лайтбоксу.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/lightbox.html")
  meta(property="og:type" content="website")
  title Лайтбокси різних видів - зовнішня реклма Вашого бізнесу
  link(rel="canonical", href="https://reklama-podillya.com.ua/lightbox.html")
  script(type="application/ld+json").
    [
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "РЕКЛАМА ПОДІЛЛЯ",
        "telephone": "067 904 77 38"
      },
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "реклама Поділля",
        "image": [
          "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
          "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
          "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
          "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
          "https://reklama-podillya.com.ua/img/vf_center.jpg",
          "https://reklama-podillya.com.ua/img/vf_right.jpg"
        ],
        "telephone": "067 904 77 38",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
        }
      }
    ]
block content
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/lb_laoro.jpg" alt="Лайтбокс Laoro")
      .page-content.choosen-page(data-name='sign') 
          h1.sec-title Лайтбокс
          p.sec-desc Лайтбокс – це оптимальне рішення у співвідношенні ціни, ефективності та привабливості вивіски. Світлова вивіска, типу світлового короба з внутрішньою підсвіткою  створює об’ємній ефект, тому здається більшою та краще приверне увагу. Цей ефект можна підсилити зробивши його двостороннім та фігурним, у формі товарного знака, чи додати якийсь світловий елемент до лайтбоксу, який буде виділятись окремо та приверне увагу потенційного клієнта.
          h2.sec-subtitle СВІТЛОВИЙ ОБ'ЄМНИЙ ЛАЙТБОКС - ЕФЕКТИВНА ЗОВНІШНЯ РЕКЛАМА ЗА ОПТИМАЛЬНОЮ ЦІНОЮ, ВИСОКОЮ ЯКІСТЮ ТА ДОВГОВІЧНІСТЮ. НАЙКРАЩЕ РІШЕННЯ ДЛЯ МАЛОГО БІЗНЕСУ.
          .sec-desc(itemprop="description")
            ul.components(itemprop="description")
              li пластик виробництво німеччина
              li гарантія на світлодіоди 12 місяців
              li дизайн 3d макета на вибір
          .examples 
            h2.sec-subtitle приклади виконаних робіт
            .fig-slider 
              .slider#slider(itemprop="image")
                .slider-container.examples-line
                  - 
                    var items = [
                      {
                        src: "img/pages/y_lb1.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb2.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb3.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb4.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb5.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb6.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb7.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb8.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb9.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb10.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb11.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb12.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb13.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb14.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb15.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb16.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb17.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb18.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb19.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb20.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb21.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb22.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb23.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb24.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb25.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb26.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb27.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb28.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb29.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_lb30.jpeg", 
                        title: ""
                      },
                    ]
                  each i in items 
                    +pageFigure(
                      i.src,
                      i.title
                    )
                  
              .button-line
                +button('g', 'index.html#contacts', 'Замовити')