extends components/template.pug 

block content
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_panel_sign.jpg" alt="Щитова вивіска Chameleon")
      .page-content.choosen-page(data-name='sign') 
          h1.sec-title щитова вивіска, рекламний щит за 260 грн
          p.sec-desc Щитова вивіска - оптимальний спосіб інформувати про себе. Така вивіска, рекламний щит є не дорога як у виробництві, так і в обслуговувані. Основними перевагами такого виду зовнішньої реклами є її невисока ціна виготовлення, простий монтаж, транспортування, невибагливе обслуговування. Щитову вивіску, рекламний щит, також можна доповнити зовнішнім підсвічуванням. Найбільше така вивіска застосовується для невеликих магазинів, кіосків, кав'ярень, також як вказівник чи рекламно-інформаційний щит.
          h2.sec-subtitle Ми пропонуємо декілька варіантів виготовлення щитової реклами з застосуванням різних матеріалів:
          .sec-desc(itemprop="description")
            p Вартість пласких, об’ємних, світлових букв залежить від ряду критеріїв: вигляду виробу, розмірів, місця застосування, складності роботи й т.д. У нас ви можете замовити будь-який вподобаний варіант всього за кілька натискань.
            p Ціна на монтаж та виготовлення залежить від розмірів вивіски, а також від способу їх підсвітки, розміщення, монтажу та кріплення. Для більш детальної інформації зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
            ul.components(itemprop="description")
              li основа – оцинкована жесть поклеєна широкоформатним друком з ламінацією на плівці Оракал – 520 грн м².
              li основа – ластик ПВХ товщиною 3 мм, поклеєний широкоформатним друком з ламінацією на плівці Оракал –800 грн м².
              li основа – панель з алюмінієвого композиту товщиною 3 мм, поклеєний широкоформатним друком з ламінацією на плівці Оракал – 1100 грн м².
          .examples 
            h2.sec-subtitle приклади виконаних робіт
            .fig-slider 
              .examples-line(itemprop="image")
                .arr-left 
                .arr-right 
                - 
                  var items = [
                    {
                      src: "img/pages/IMG_0469.JPG", 
                      title: ""
                    },
                  ]
                each i in items 
                  +pageFigure(
                    i.src,
                    i.title
                  )
              .button-line
                +button('g', 'index.html#contacts', 'Замовити')