extends components/template.pug 

block content 
  .wrapper.additional-page 
    section.policy-page 
      h1.sec-title ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ ПЕРСОНАЛЬНИХ ДАНИХ
      div 
        <p><strong>користувачів сайту агенції з розробки зовнішньої реклами “Реклама Поділля”</strong></p><p></p><p>Наша адреса сайту:<a style="background-color: #ffffff;" href="https://www.reclama-podilla.km.ua." target="_blank" rel="noopener">&nbsp;</a><span style="background-color: #ffffff;"><a href="https://www.reclama-podilla.km.ua.">https://www.reclama-podilla.km.ua</a></span><a style="background-color: #ffffff;" href="https://www.reclama-podilla.km.ua." target="_blank" rel="noopener">.</a></p><p>Ваша конфіденційність є важливою для&nbsp;<strong>агенції з розробки зовнішньої реклами “Реклама Поділля”</strong>. В зв’язку з цим спеціально для своїх користувачів нами була розроблена дана Політика конфіденційності персональних даних (далі – Політика конфіденційності).</p><p>Дана Політика конфіденційності діє відносно всієї інформації, яку сайт&nbsp;<strong>ПП</strong>&nbsp;<strong>“Реклама Поділля”</strong>&nbsp;(далі – Сайт), що розміщений на доменному імені&nbsp;<a href="https://www.reclama-podilla.km.ua." target="_blank">https://www.reclama-podilla.km.ua.</a><strong>&nbsp;</strong>, може отримати про Користувача під час використання Сайту, програм і продуктів Сайту.</p>
      h2.sec-title ЯКІ ОСОБИСТІ ДАНІ МИ ЗБИРАЄМО ТА ЧОМУ МИ ЇХ ЗБИРАЄМО?
      b.sec-subtitle Коментарі
      p Коли відвідувачі залишають коментарі на сайті, ми збираємо дані, що відображаються у формі коментарів, а також IP-адреси відвідувачів та рядку агента-браузера користувача, щоб допомогти виявити спам.
      p Анонімний рядок, створений за вашою адресою електронної пошти (також називається хеш), може бути наданий службі Gravatar, щоб дізнатись, чи ви його використовуєте. Політика конфіденційності служби Gravatar доступна тут: https://automattic.com/privacy/. Після схвалення вашого коментаря, ваше зображення профілю буде видно для громадськості в контексті вашого коментарю.
      b.sec-subtitle Медіафайли
      p Якщо ви завантажуєте зображення на сайт, вам слід уникати завантаження зображень із вбудованими даними про місцезнаходження (EXIF GPS). Відвідувачі сайту можуть завантажувати та витягувати будь-які дані про місцезнаходження із зображень на сайті.
      b.sec-subtitle Контактні Форми
      b.sec-subtitle Cookies

