extends components/template.pug

block seo 
  meta(name="description", content="Професійна поклейка плівки oracal на вікна та інші поверхні вашого приміщення. Виготовлення зовнішньої реклами у вигляді плівки Oracal.")
  meta(name="keywords", content="замовити поклейку плівки oracal, поклейка плівки на вікна та інші поверхні, купити плівку з рекламою")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Наклеювання та виготовлення плівки Oracal під замовлення")
  meta(property="og:description" content="Професійна поклейка плівки oracal на вікна та інші поверхні вашого приміщення. Виготовлення зовнішньої реклами у вигляді плівки Oracal.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/showcase.html")
  meta(property="og:type" content="website")
  title Наклеювання та виготовлення плівки Oracal під замовлення
  link(rel="canonical", href="https://reklama-podillya.com.ua/showcase.html")
  script(type="application/ld+json")
    [
    {
      "@context": "http://schema.org/",
      "@type": "LocalBusiness",
      "name": "РЕКЛАМА ПОДІЛЛЯ",
      "telephone": "067 904 77 38"
    },
    {
      "@context": "http://schema.org/",
      "@type": "LocalBusiness",
      "name": "реклама Поділля",
      "image": [
        "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
        "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
        "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
        "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
        "https://reklama-podillya.com.ua/img/vf_center.jpg",
        "https://reklama-podillya.com.ua/img/vf_right.jpg"
      ],
      "telephone": "067 904 77 38",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
      }
    }
  ]

block.itemscope.itemtype="https://schema.org/Organization" content 
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_showcase.jpg", alt="НАКЛЕЮВАННЯ ПЛІВКОЮ ORACAL").itemprop="image"
      .page-content.choosen-page 
        h1.sec-title НАКЛЕЮВАННЯ ПЛІВКОЮ ORACAL
        h2.sec-subtitle вартість послуг
        p.sec-desc Вартість наклеювання складає 350 грн за метр квадратний. Для більш детальною інформацією зверніться до наших менеджерів. Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        .examples 
          h2.sec-subtitle приклади виконаних робіт
          .fig-slider 
            .examples-line.itemprop="image"
              .arr-left 
              .arr-right 
              - 
                var items = [
                  {
                    src: "img/pages/IMG_0095.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0163.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0467.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_0996.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_1344.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_1365.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_3062.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_3087.jpg", 
                    title: ""
                  }               
                ]
              each i in items 
                +pageFigure(
                  i.src,
                  i.title
                )
            .button-line
              +button('g', 'index.html#contacts', 'Замовити')