extends components/template.pug 

block seo
  meta(name="description", content="Вивіски, лайтбокси з об'ємними літерами – поширений вид візуальних знаків, що застосовуються, як зовні, так і всередині приміщення.")
  meta(name="keywords", content="Замовити вивіску, купити світлові літери, купити об'ємні світлові літери, купити неонову вивіску, замовити неонову вивіску, купити зовнішню рекламу з світлових літер")
  meta(name="author", content="Реклама Поділля")
  meta(name="publisher", content="Реклама Поділля")
  meta(name="robots", content="index follow")
  meta(property="og:title" content="Вивіски та світлові літери різних видів на Реклама Поділля")
  meta(property="og:description" content="Вивіски, лайтбокси з об'ємними літерами – поширений вид візуальних знаків, що застосовуються, як зовні, так і всередині приміщення.")
  meta(property="og:image" content="https://reklama-podillya.com.ua/img/logo.svg")
  meta(property="og:url" content="https://reklama-podillya.com.ua/sign.html")
  meta(property="og:type" content="website")
  title Вивіски та світлові літери різних видів на Реклама Поділля
  link(rel="canonical", href="https://reklama-podillya.com.ua/sign.html")
  script(type="application/ld+json").
  [
    {
      "@context": "http://schema.org/",
      "@type": "LocalBusiness",
      "name": "РЕКЛАМА ПОДІЛЛЯ",
      "telephone": "067 904 77 38"
    },
    {
      "@context": "http://schema.org/",
      "@type": "LocalBusiness",
      "name": "реклама Поділля",
      "image": [
        "https://reklama-podillya.com.ua/img/ll_bidonchik.jpg",
        "https://reklama-podillya.com.ua/img/ll_sviatoslav.jpg",
        "https://reklama-podillya.com.ua/img/ll_dnipro.jpg",
        "https://reklama-podillya.com.ua/img/vf_veloman.jpg",
        "https://reklama-podillya.com.ua/img/vf_center.jpg",
        "https://reklama-podillya.com.ua/img/vf_right.jpg"
      ],
      "telephone": "067 904 77 38",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "м. Хмельницький, вул. Кам'янецька 122 БЦ “ОРІТ”, офіс 316"
      }
    }
  ]
block content
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_bubbles.jpg", alt="Обʼємні світлові літери BUBBLES" data-name="sign" itemprop="image")
      img(src="img/banner_neon_sign.jpg", alt="Неонова вивіска Chameleon" data-name="neon_sign" itemprop="image")
      .page-switches.flex-sb(itemprop="url")
        a.choosen-switch(href="#" data-name="sign") об'ємні світлові літери
        a(href="#" data-name="neon_sign") неонові вивіски 
      .page-content.choosen-page(data-name='sign') 
        h1.sec-title обʼємні світлові літери
        h2.sec-subtitle На даний час об’ємні букви (літери) є одним з найефективнішим видом зовнішньої реклами в багатьох сферах бізнесу.
        .sec-desc(itemprop="description")
          p Їх Об’ємний 3D-Ефект Дає Змогу Значно Краще Привернути Увагу Потенційного Клієнта До Вашої Рекламної Вивіски, Чи Взагалі До Будь-Якої Зовнішньої Реклами. Гарний ефект об’ємні букви (літери), дають при першій комунікації з потенційним клієнтом, адже це підкреслює імідж компанії та її солідність. Також об’ємні рекламні букви (літери) замовляють для проведення весільних, святкових (дні народження, ювілеї, корпоративи) або іміджевих (презентацій, виставка)фотосесій.
          p Вивіски, лайтбокси з об'ємними літерами – поширений вид візуальних знаків, що застосовуються, як зовні, так і всередині приміщення. 
        h2.sec-subtitle ВАРТІСТЬ ПОСЛУГ. РОЗРОБКА ТА ВИГОТОВЛЕННЯ.
        .sec-desc(itemprop="description")
          p Вартість пласких, об’ємних, світлових букв залежить від ряду критеріїв: вигляду виробу, розмірів, місця застосування, складності роботи й т.д. У нас ви можете замовити будь-який вподобаний варіант всього за кілька натискань.
          p Ціна на монтаж та виготовлення залежить від розмірів вивіски, а також від способу їх підсвітки, розміщення, монтажу та кріплення. Для більш детальної інформації зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        h2.sec-subtitle ціна - від 1176 грн за літеру (висота 30 см)
        ul.components
          li пластик Виробництво Німеччина
          li різка лазерним станком
          li надяскраві світлодіоди
          li різний шрифт
        .examples 
          h2.sec-subtitle 
        .fig-slider 
          .slider#slider(itemprop="image")
            .slider-container.examples-line
              - 
                var items = [
                  {
                    src: "img/pages/y_ll1.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll2.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll3.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll4.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll5.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll6.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll7.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll8.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll9.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll10.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll11.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll12.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll13.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll14.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll15.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll16.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll17.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll18.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll19.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll20.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll21.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll22.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll23.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll24.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll25.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll26.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll27.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll28.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll29.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll30.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll31.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll32.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll33.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll34.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll35.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll36.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll37.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll38.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll39.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll40.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll41.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll42.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll43.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll44.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll46.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll47.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll48.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll49.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll50.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll51.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll52.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll53.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll54.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll55.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll56.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll57.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll58.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll59.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll60.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll61.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll62.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll63.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll64.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll65.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll66.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll67.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll68.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll69.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll70.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll71.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll72.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll73.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll74.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll75.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll76.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll77.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll78.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll79.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll80.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll81.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll82.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll83.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/y_ll84.jpg", 
                    title: ""
                  },
                ]
              each i in items 
                +pageFigure(
                  i.src,
                  i.title
                )
          .button-line
              +button('g', 'index.html#contacts', 'Замовити')
      .page-content(data-name='neon_sign') 
        h2.sec-title скляна трубка з інертним газом
        p.sec-desc Характерною рисою є скляна трубка, наповнена газом - неоном.Виготовляють неонові вивіски по засобу нагріву трубки та закачування газу. Після застосування газу - подається висока напруга і трубка випромінює світло. Індивідуальний колірний діапазон досягається внаслідок використання різних і іноді декількох інертних газів.
        h2.sec-subtitle гнучкий світловий неон
        p.sec-desc Це гнучкий неоновий шнур з діодами, має всередині люмінофорне покриття, завдяки якому світло розсіюється рівномірно по всьому периметру
        .sec-desc(itemprop="description")
          h2.sec-subtitle вартість послуг
          p Ціна на монтаж та виготовлення (як приклад вивіска світлова AJOUR - вивіска з скляних трубок наповнених інертним газом, п'ять літер розміром 25 см - 5000 грн ) залежить від розмірів вивіски, а також від способу їх підсвітки, розміщення, монтажу та кріплення. 
          p Для більш детальною інформацією зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        .examples 
          h2.sec-subtitle приклади виконаних робіт
          .fig-slider 
            .slider#slider(itemprop="image")
              .slider-container.examples-line
                - 
                  var items = [
                      {
                        src: "img/pages/y_ns1.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns2.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns3.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns4.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns5.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns6.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns7.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns8.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns9.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns10.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns11.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns12.jpg", 
                        title: ""
                      },
                      {
                        src: "img/pages/y_ns13.jpg", 
                        title: ""
                      },
                    
                  ]
                each i in items 
                  +pageFigure(
                    i.src,
                    i.title
                  )
            .button-line
              +button('g', 'index.html#contacts', 'Замовити')  