extends components/template.pug 

block content 
  .wrapper.panel_sign-page.additional-page
    section 
      img(src="img/banner_parfum.jpg", alt="Обʼємний кощирок ПАРФУМ")
      .page-content.choosen-page 
        h2.sec-title ОБ’ЄМНІ КОЗИРкИ РІЗНИХ КОНФІГУРАЦІЙ
        p.sec-desc На даний час об’ємні козирки є одним з основних елементів комплексу фасадних конструкцій при оформлені будь-якого комерційного приміщення. Також може використовуватись як окремий елемент вхідної групи.
        h3.sec-subtitle вартість послуг
        p.sec-desc Ціна на монтаж та виготовлення від 3360 грн за метр квадратний і залежить від розмірів, матеріалів, складності конструкції. Для більш детальною інформацією зверніться до наших менеджерів.Консультації, заміри, розрахунки безкоштовні.Працюємо з юридичними та фізичними особами. Надаємо всі фінансові та супровідні документи.
        .examples 
          h3.sec-subtitle 
          .fig-slider 
            .examples-line
              .arr-left 
              .arr-right 
              - 
                var items = [
                  {
                    src: "img/pages/IMG_0255.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_1096.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_2360.JPG", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_2849.jpg", 
                    title: ""
                  },
                  {
                    src: "img/pages/IMG_3690.jpg", 
                    title: ""
                  }               
                ]
              each i in items 
                +pageFigure(
                  i.src,
                  i.title
                )
            .button-line
              +button('g', 'index.html#contacts', 'Замовити')