/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
  
footer 
  padding: 45px 0 30px
  &:before 
    top: 0

.footer-line 
  align-items: center
  margin-bottom: 20px
  .footer-logo,
  .policy 
    display: inline-block
    width: 302px
    img 
      width: 100%
    @media screen and ( max-width: 1024px )
      width: 25%
  @media screen and ( max-width: 768px )
    flex-wrap: wrap
    gap: 20px
    .footer-logo,
    .policy
      width: 40%
    .soc-line 
      order: 1
      width: 100%
      justify-content: center
  @media screen and ( max-width: 500px )
    flex-direction: column
    .footer-logo 
      width: 60%
      @media screen and ( max-width: 375px )
        width: 80%
    .policy
      width: auto

.policy 
  font-size: 14rem
  font-weight: 600
  text-align: right
  transition: $trs
  &:hover 
    color: $primaryBlue

.copy 
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 12rem
  font-weight: 600
  svg 
    width: 15px
    height: 15px
    margin-right: 10px