/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
  
footer 
  padding: 45px 0 30px
  &:before 
    top: 0

.footer-line 
  align-items: center
  margin-bottom: 20px
  .footer-logo,
  .policy 
    width: 302px
    img 
      width: 100%

.policy 
  display: inline-block 
  font-size: 14rem
  font-weight: 600
  text-align: right
  transition: $trs
  &:hover 
    color: $primaryBlue

.copy 
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 12rem
  font-weight: 600
  svg 
    width: 15px
    height: 15px
    margin-right: 10px