
/* -------------------------------------------------------------------------- */
/*                               general styles                               */
/* -------------------------------------------------------------------------- */

*
  margin: 0
  padding: 0
  box-sizing: border-box

ul
  list-style: none

html 
  font-size: 1px
  scroll-behavior: smooth

body
  font-size: 14rem
  font-family: 'Montserrat', sans-serif
  color: $textDark 
  
a
  color: $textDark 
  text-decoration: none

.wrapper 
  width: 86%
  margin: auto

.flex-sb 
  display: flex
  justify-content: space-between

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header 
  padding-top: 173px

.header-line 
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 180px
  background-color: rgba(255, 255, 255, 0.90)
  backdrop-filter: blur(10px)
  z-index: 10

.header-soc
  position: relative
  padding: 10px 0 7px
  &::before 
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 1.5px
    background: $P-B-gradient
    @media screen and ( max-width: 1660px )
      height: 1px
  .wrapper 
    align-items: center

.tel,
address 
  position: relative
  font-size: 18rem
  line-height: 20rem
  font-weight: 600
  text-transform: uppercase
  padding-left: 30px
  transition: $trs
  &::before 
    content: ''
    position: absolute
    top: 50% 
    left: 0
    width: 20px
    height: 20px
    background-image: url(../img/tel.svg)
    transform: translateY(-50%)
  // +underlineHover

.tel
  &::after
    left: 30px
  &:hover:after
    width: calc(100% - 30px)
  &:hover 
    color: $primaryBlue
  @media screen and ( max-width: 1660px )
    font-size: 16rem

address
  &::before
    width: 15px
    height: 20px
    background-image: url(../img/gps.svg)

.logo
  width: 137px
  height: 90px

.soc-line 
  display: inline-flex
  column-gap: 15px
  a
    display: inline-block
    transition: $trs
    &:hover 
      transform: scale(1.2)
      svg
        width: 100%
  li,a,svg
    width: 25px
    height: 25px
  @media screen and ( max-width: 1660px )
    li,a,svg
      width: 20px
      height: 20px


.menu 
  padding: 25px 0
  a 
    position: relative
    font-size: 18rem
    line-height: 19.5rem
    font-weight: 700
    text-transform: uppercase
    transition: $trs
    +underlineHover
  @media screen and ( max-width: 1660px )
    padding: 20px 0
    a 
      font-size: 16rem