mixin svg(href)
  svg 
    use(xlink:href=href)

mixin soc-line
  ul.soc-line.flex-sb
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#mail")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#tg")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#viber")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#inst")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#fb")

mixin button(type, href='#', content)
  case type
    when 'g'
      a.g-button.button(href=href)= content
    when 't'
      a.t-button.button(href=href)= content